$border_rad_1: 0.5rem;
$border_rad_2: 1rem;

$color_1: #06bee1;
$color_2: #c051ff;
$color_3: #ee1b6c;
$color_4: #13bb70;
$color_5: #6200a3;

$color_text: #fff;
$color_text_2: #323232;
$color_text_3: #656565;
